<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-9 mb-2 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Garland shop</h5>
    <a href="products"><font color="black">View products</font></a>
</div>
<p class="aligncenter">
<div style="
position: absolute;
font-size: 3em;
color: black;
padding-left: 250px;
padding-top: 40px"><i>In our store you can find a garland for any mood!</i></div>
<div style="
position: absolute;
font-size: 20pt;
color: dimgrey;
padding-left: 210px;
padding-top: 430px"><p th:text="'The garlands are available in different colors: ' + ${color}"/></div>
<img src="https://thumbs.dreamstime.com/b/breite-weihnachtsgirlande-von-tannenzweigen-girlande-kranz-kiefernniederlassungen-mit-kegeln-ideal-f%C3%BCr-flyer-poster-titel-200704663.jpg" width="1500" height="500"class="transparent25">
<style>
    .aligncenter {
        text-align: center;
    }
    .transparent25 {
        filter: alpha(Opacity=25);
        opacity: 0.25;
    }
</style>
</body>
</html>