<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-9 mb-2 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Garland shop</h5>
    <a href="products"><font color="black">View products</font></a>
</div>
<div>
    <a href="main"><p align="right"><font color="#696969">Back to main page→</font></p></a>
</div>

<center><h1><font color="#696969"><i>Garland for you!</i></font></h1></center>

    <div class="album py-5 light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                            <img src="https://images.ua.prom.st/1371104892_svetodiodnaya-girlyanda-nit.jpg" width="100%" height="250">
                        <div class="card-body">
                            <center><h4><font color="#808080">Garland "Dew"</font></h4></center>
                           <center><p class="card-text">- Thin metal threads interspersed with shining diodes are collected in a bunch.
                                <br>- Number of threads: length 2m - 10 threads, 1.5m - 20 threads.
                                <br>- 8 modes of flashing.</p></center>
                            <p align="right"><small class="text-muted">290 UAN</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="https://images.ua.prom.st/1371104892_svetodiodnaya-girlyanda-nit.jpg" width="100%" height="250">
                        <div class="card-body">
                            <center><h4><font color="#808080">Garland "Dew"</font></h4></center>
                            <center><p class="card-text">- Thin metal threads interspersed with shining diodes are collected in a bunch.
                                <br>- Number of threads: length 2m - 10 threads, 1.5m - 20 threads.
                                <br>- 8 modes of flashing.</p></center>
                            <p align="right"><small class="text-muted">290 UAN</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="https://images.ua.prom.st/1371104892_svetodiodnaya-girlyanda-nit.jpg" width="100%" height="250">
                        <div class="card-body">
                            <center><h4><font color="#808080">Garland "Dew"</font></h4></center>
                            <center><p class="card-text">- Thin metal threads interspersed with shining diodes are collected in a bunch.
                                <br>- Number of threads: length 2m - 10 threads, 1.5m - 20 threads.
                                <br>- 8 modes of flashing.</p></center>
                            <p align="right"><small class="text-muted">290 UAN</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="https://images.ua.prom.st/1371104892_svetodiodnaya-girlyanda-nit.jpg" width="100%" height="250">
                        <div class="card-body">
                            <center><h4><font color="#808080">Garland "Dew"</font></h4></center>
                            <center><p class="card-text">- Thin metal threads interspersed with shining diodes are collected in a bunch.
                                <br>- Number of threads: length 2m - 10 threads, 1.5m - 20 threads.
                                <br>- 8 modes of flashing.</p></center>
                            <p align="right"><small class="text-muted">290 UAN</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="https://images.ua.prom.st/1371104892_svetodiodnaya-girlyanda-nit.jpg" width="100%" height="250">
                        <div class="card-body">
                            <center><h4><font color="#808080">Garland "Dew"</font></h4></center>
                            <center><p class="card-text">- Thin metal threads interspersed with shining diodes are collected in a bunch.
                                <br>- Number of threads: length 2m - 10 threads, 1.5m - 20 threads.
                                <br>- 8 modes of flashing.</p></center>
                            <p align="right"><small class="text-muted">290 UAN</small></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="https://images.ua.prom.st/1371104892_svetodiodnaya-girlyanda-nit.jpg" width="100%" height="250">
                        <div class="card-body">
                            <center><h4><font color="#808080">Garland "Dew"</font></h4></center>
                            <center><p class="card-text">- Thin metal threads interspersed with shining diodes are collected in a bunch.
                                <br>- Number of threads: length 2m - 10 threads, 1.5m - 20 threads.
                                <br>- 8 modes of flashing.</p></center>
                            <p align="right"><small class="text-muted">290 UAN</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>